.editor {
    flex: auto;
    position: relative;
    resize: vertical;
    z-index: -1;
}

.editorWrapper {
    flex: auto;
    position: relative;
    resize: vertical;
    z-index: -1;
}
.lexicalEditor:focus-visible {
    outline: none;
}
.lexicalEditor-italic {
    font-style: italic;
}
.lexicalEditor-bold {
    font-style: bold;
}